<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Document</title>
 </head>
 <body>
	<form action="insert">
		<table>
			<tr>
				<th>글쓰기</th>
			</tr>
		</table>
		<table>
			<tr>
				<td>작성자</td>
				<td><input type="text" name="name"/></td>
			</tr>
			<tr>
				<td>제목</td>
				<td><input type="text" name="name"/></td>
			</tr>
			<tr>
				<td>내용</td>
				<td><textarea name="content" id="" cols="30" rows="10"></textarea></td>
			</tr>
			<tr>
				<td>
					<input type="submit" value="저장하기"/>
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" value="다시 쓰기"/>
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" value="되돌아가기"/>
				</td>
			</tr>
		</table>
	</form>
 </body>
</html>
